    <section id="aboutSection" class="about-section">
        <div class="page-padding">
            <p class="about-content">
                Hello,
            </p>
            <p class="blog-content">
                I’m a well-traveled and easy going sort of wizard, now finishing up a Bachelor’s 
                degree in Software Engineering – I’m trying to get with the times. I’ve got 
                stories, and thoughts and opinions about this changing world which I think 
                should be shared. My goal is to show my journey into the mysterious new world of 
                the Internet. I’ll write about the projects I build, and my thoughts about the 
                tech world and how to thrive in it. Lastly, I will share some of my extensive 
                wisdom, and try to inspire you to keep pushing ahead, despite a world plunging 
                into crises. 
            </p>
            <p class="about-content">
                Take heart and be hopeful, <br>Contemporary Wiz
            </p>
        </div>
    </section>