<div class="blog-cards">
    <ul class="list">
        <% posts.forEach(post => { %>
            <a href="/post/<%= post.post_id %>" >
                <li class="blog-card">
                    <div class="blog_title_date">
                        <h2 class="blog-title"><%= post.title %></h2>
                        <div class="blog-date"><%= post.created.toDateString() %></div>
                    </div>
                    <p class="blog-content"><%= post.slug.substring(0, 180) %>...</p>
                </li>
            </a>       
        <% }) %>
    </ul>
    <div class="side-bar">
        <form class="joinOutline">
            <div class="alert">Coming Soon!</div>
            <h1 class="joinEmailText">Join News Letter</h1>
            <input name="" placeholder="Your email" class="email-search">
        </form>
        <div class="add">
            <img src="" alt="sponsored add">
        </div>
    </div>
</div>