<header class="header">
    <div class="title">
        <h1 class="contemp">Contemporary</h1>
        <h2 class="wiz">
            <div id="star" class="wizard-star">
                <svg width="85" height="85" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.6621 2.33338L15.9992 11.0664L16.0132 11.4309L16.3647 11.5288L24.6976 13.8488L16.5666 16.9406L16.2308 17.0683L16.2447 17.4273L16.5824 26.175L11.2337 19.3448L11.0066 19.0548L10.6623 19.1858L2.55355 22.2691L7.3632 14.9545L7.56056 14.6544L7.33908 14.3715L1.97575 7.52268L10.3086 9.84268L10.6601 9.94053L10.8605 9.6357L15.6621 2.33338Z" fill="#EACA5A" stroke="black"/>
                </svg>
            </div>
            Wizard</h2>
    </div>
    <a class="wiz-link" href="/">
        <img id="wizImage" class="wiz-img" src="../../img/wizard icon.png" alt="">
    </a>
    <div class="search-buttons">
        <form class="searchbar" action="/search" method="GET">
            <input name="searched" placeholder="Search posts" class="search-btn">
            <button class="search-icon" type="submit">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000.svg">
                    <path d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z" stroke="grey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.875 14.875L11.7938 11.7938" stroke="grey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </form>
            <a href="/" id="homeButton" class="button-selected">Blog</a>
            <a id="aboutButton" class="button">About</a>
            <a id="contactButton" class="button">Surprise</a>
    </div>
</header>

