<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>admin</title>
</head>
<body class="log-body">  
    <p>* Sorry. User account features coming soon.</p>
    <section class="form-section not-finished">
        <!-- <p>* Sorry. User account features coming soon.</p> -->
        <h1 class="page-title">Signup</h1>
        <div class="form-layout">
            <form class="form-itself" action="" method="GET">
                
                <label for="userName"><b class="log-label">Username</b></label>
                <input class="form-input" type="text" placeholder="Enter Name" name="userName">
            
                <label for="password"><b class="log-label">Password</b></label>
                <input class="form-input" type="password" placeholder="Enter Password" name="password">
            
                <input type="submit" value="Create Account" class="sign-button">

            </form>
        </div>
    </section>
</body>
</html>