<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>admin</title>
</head>
<body>
    <section class="home-section">
        <ul>
            <% posts.forEach(post => { %>
                    <a href="/post/<%= post._id %>" >
                        <div class="blog-card">
                            <div class="card-left">
                                <li>
                                    <h2 class="blog-title"><%= post.title %></h2>
                                    <h3 class="blog-content"><%= post.content.substring(0, 90) %>...</h3>
                                </li>
                            </div>
                            <div class="blog-date">2/11/24</div>
                    <!-- <div class="blog-date"><%= post.createdAt %></div> -->
                        </div>
                    </a>       
            <% }) %>
        </ul>
    </section>
</body>
</html>